@import "reset";
@import "variables";
@import "mixin";

html, body {
	background: $white;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	height: 100%;
	font-size: 16px;
	line-height: 1em;
}

@import "two-columns";

h1, h2 {
	display: block;
	text-align: center;
	font-weight: 700;
}
h1 {
	font-size: 5em;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: 300;

	@include bp-medium {
		font-size: 3em;
	}
}
h2 {
	font-size: 4.2em;
	line-height: 1em;

	@include bp-medium {
		font-size: 2.5em;
	}
}

@import "contact-links";
