@mixin bp-medium {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}
@mixin bp-small {
  @media only screen and (max-width: 720px) {
    @content;
  }
}
@mixin bp-large {
  @media only screen and (min-width: 1300px) {
    @content;
  }
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}