.content-wrapper {
	width: 70%;
	margin: 0 auto;
	padding: 40px 0;

	@include bp-large {
		width: 80%;
	}
	@include bp-small {
		padding: 0;
		width: 95%;
	}

	@import "post-list";
	@import "post-article";
}