.one-column-wrapper {
	display: flex;
	flex-direction: row;
	min-height: 100%;

	.header {
		max-width: 250px;
		background: $light-blue;
		flex: 1;

		.logo {
			margin-bottom: 40px;
			a {
				padding: 10px 0;
				color: $white;

				h1 {
					font-size: 3em;
				}
				h2 {
					font-size: 2.5em;
				}
			}
		}
		.navigation {
			flex-direction: column;

			a {
				color: $white;
				padding: 10px 0 15px;
				text-align: center;
				width: 100%;
				border-color: transparent;
				font-size: 2em;
				border: none;

				&.active {
					$border-width: 14px;
					border-right: transparent solid $border-width;
					border-left: $white solid $border-width;
				}
				&:hover {
					$border-width: 18px;
					border-right: transparent solid $border-width;
					border-left: $white solid $border-width;
					background: $light-blue;
					@include transition(border-width .1s ease-out);
				}
			}
		}
		.contact-links-wrapper {
			height: initial;
			background: initial;

			.contact-links {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;
				li {
					padding: 0;
				}
				a {
					font-size: 1em;
					display: flex;
					flex-direction: row-reverse;
					margin-bottom: 20px;

					i {
						font-size: 1.5em;
					}
					span {
						font-size: 1em;
						margin-left: 10px;
					}
				}
			}
		}
	}

	@include bp-medium {
		.header {
			max-width: 150px;

			.logo {
				margin-bottom: 20px;
				a {
					h1 {
						font-size: 1.7em;
					}
					h2 {
						font-size: 1.4em;
					}
				}
			}
			.navigation {
				a {
					font-size: 1.5em;

					&.active {
						$border-width: 8px;
						border-right-width: $border-width;
						border-left-width: $border-width;
					}
					&:hover {
						$border-width: 10px;
						border-right-width: $border-width;
						border-left-width: $border-width;
					}
				}
			}
			.contact-links-wrapper .contact-links a {

				padding: 5px 15px;
				span {
					display: none;
				}
			}
		}
	}

	@include bp-small {
		height: initial;
		display: block;
		flex-direction: initial;

		.header {
			margin-bottom: 10px;
			max-width: initial;
			background: none;
			height: 70px;

			.logo {
				width: 170px;
				float: left;
				padding: 0;
				margin: 0;
				height: 100%;
				a {
					padding: 10px 0;
				}
			}
			.navigation {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				height: 100%;
				a {
					$border-width: 8px;
					$vertical-padding: 14px;
					padding: $vertical-padding 15px ($vertical-padding - $border-width);
					border-bottom: $border-width solid $light-blue;
					color: $white;
					border-top: none;
					border-left: none;
					border-right: none;
					width: auto;
					margin: 0 auto;

					&.active, &:hover {
						border-left: none;
						border-right: none;
						background-color: $white;
						color: $light-blue;
					}
				}
			}
			.contact-links-wrapper {
				display: none;
			}
		}
	}

	@import "one-column-content";
}