.two-column-wrapper {
	display: flex;
	flex-direction: row-reverse;
	min-height: 100%;

	.column {
		flex: 1;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@include bp-small {
		flex-direction: column;
		justify-content: initial;
		align-items: initial;
		height: initial;

		.column {
			height: initial;
		}
	}

	@import "two-columns-content";
}

.column-one {
	width: 40%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.column-two {
	width: 60%;

	.content {
		height: 100%;
	}
}

@include bp-small {
	.column-one, .column-two {
		width: initial;

		.content {
			padding: 30px 0;
		}
	}
}
